.chatelementcontextentry__element {
    flex-shrink: 1;
    flex-grow: 0;
    margin-bottom: 8px;
}

#contextLink {
    background-color: var(--appui-backgrounds-100);
    border-radius: 6px;
}

#contextLink:hover {
    background-color: var(--appui-backgrounds-200);
}
